//- 
//-     Copyright (C) 2017  Michael Kolb
//- 
//-     This program is free software: you can redistribute it and/or modify
//-     it under the terms of the GNU General Public License as published by
//-     the Free Software Foundation, either version 3 of the License, or
//-     (at your option) any later version.
//- 
//-     This program is distributed in the hope that it will be useful,
//-     but WITHOUT ANY WARRANTY; without even the implied warranty of
//-     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-     GNU General Public License for more details.
//- 
//-     You should have received a copy of the GNU General Public License
//-     along with this program.  If not, see <http://www.gnu.org/licenses/>.

extends layout
  


block content
  include partitials/fieldutils
  script(src="/javascripts/createissue.js")
  
      
  h1 Create Issue
  form
    select.selectpicker.show-tick.project#selproject(data-live-search="true")
      for project in data
        option(value=project.key,data-size="8",data-content="<img src=\""+project.avatarUrls['16x16']+"\" width=\"16\" height=\"16\"/> "+project.name) #{project.name}
    br
    select.selectpicker#selissuetype(data-hide-disabled="true")
      for project in data
        optgroup(label=project.key)
        for issuetype in project.issuetypes
          option.issuetype(disabled,value=issuetype.id,data-projectkey=project.key,data-content="<img src=\""+issuetype.iconUrl+"\" width=\"16\" height=\"16\"/> "+issuetype.name) #{issuetype.name}
      


