//- 
//-     Copyright (C) 2017  Michael Kolb
//- 
//-     This program is free software: you can redistribute it and/or modify
//-     it under the terms of the GNU General Public License as published by
//-     the Free Software Foundation, either version 3 of the License, or
//-     (at your option) any later version.
//- 
//-     This program is distributed in the hope that it will be useful,
//-     but WITHOUT ANY WARRANTY; without even the implied warranty of
//-     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-     GNU General Public License for more details.
//- 
//-     You should have received a copy of the GNU General Public License
//-     along with this program.  If not, see <http://www.gnu.org/licenses/>.

extends layout
  
  
include fieldutils

block content
  script(src="/javascripts/filterview.js")
  
  h1 Results for #{filter.name}
  table.table#issuelist(data-fields=fields)
    thead
      tr
        for field in fields
          th #{field.label}
    tbody  
      for issue in data.issues
        tr(data-issue=issue)
          each field in fields
              - var fieldcontent=issue.fields[field.value]
              if field.value == "issuekey"
                td.details-control
                  a
                    +renderField(field.value,issue.key)
              else
                td
                  +renderField(field.value,fieldcontent)
        
