h3 #{data.key}
h4 #{data.fields['summary']}

table.table
  tbody
    each field in fields
      td field.name
      - var fieldcontent=issue.fields[field.value]
      case field.value
        when "issuekey"
          td #{issue.key}
        when "issuetype"
          td
            img(src=fieldcontent.iconUrl)
            span #{fieldcontent.name}
        when "assignee"
          td 
            img(src=fieldcontent.avatarUrls['48x48'], width="25px", height="25px")
            span #{fieldcontent.displayName}
        when "fixVersions"
          td
            each version in fieldcontent
              span.label.label-primary #{version.name}
        default
          td #{fieldcontent}
      